/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");

body {
	font-family: sans-serif;
	color: black;
}

header {
	line-height: 15em;
	text-align: center;
}

article {
	padding: 15px 40px 15px 40px;
	line-height: 2em;
	text-align: left;
}

h1 {
	font-family: sans-serif;
	font-size: 45px;
	text-align: center;
	color: black;
	display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h2 {
	font-family: sans-serif;
	font-size: 14px;
	line-height: normal;
	text-align: left;
	color: black;
	display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

h3 {
	font-family: sans-serif;
	font-size: 20px;
	line-height: normal;
	text-align: left;
	color: black;
	display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

a {
	color: grey;
}

p {
	font-family: sans-serif;
	font-size: 16px;
	text-align: justify;
	color: black;
	display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

p2 {
	font-family: sans-serif;
	font-size: 14px;
	text-align: right;
	color: black;
	display: block;
}

q {
	font-family: sans-serif;
	font-size: 14px;
	text-align: right;
	color: black;
	display: block;
}

aside {
	line-height: 20em;
	text-align: center;
	background: #999;
}

footer {
  height:180px;
	padding-top: 40px;
	line-height: 3em;
	text-align: center;
}

ul {
	display: block;
	line-height: 3em;
	text-align: center;
}

li {
	display: inline;
	float: center;
	text-align: center;
	margin-right: 50px;
}

img {
	margin-bottom: 1em;
	vertical-align: middle;
}

@media (max-width:481px)  {
	p, q, h1, h2, h3 {
		line-height: 1.5em;
	}

	h1 {
		font-size: 25px;
	}

	h3 {
		font-size: 30px;
	}
